* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

.flex {
    height: 96vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box {
    width: 280px;
    height: 450px;
    border-radius: 13px;
    padding: 15px;
    background-color: white;
}

img {
    width: 280px;
    height: 280px;
    border-radius: 9px;
    margin-bottom: 1.25em;
}

.text {
    margin: auto;
    width: 275px;
    text-align: center;
}

h2 {
    font-weight: 700;
    font-size: 22px;
    color: hsl(218, 44%, 22%);
    margin-bottom: 0.4em;
}

p {
    font-size: 15px;
    font-weight: 400;
    width: 265px;
    color: hsl(220, 15%, 55%);
}